


{% load static %}

<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.25/webcam.js'></script>

  <title>Live Web Camera</title>
  <title>
   My Music Player
  </title>
  <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.7/mediaelementplayer.min.css" rel="stylesheet"/>
  <link href="{% static './style.css' %}" rel="stylesheet"/>
 </head>
 <body>
  <!-- partial:index.partial.html -->
  <html>
   <head>
    <meta charset="utf-8"/>
    <title>
        Live Emotion Predictor with Music Recommender
    </title>
   </head>
   <body>
    <div id="main">
        <article>
                {% comment %} <div id='imag
                eCapture'></div> {% endcomment %}
                <img src="{% url 'live_camera' %}">
        </article> 
        <aside>
            <div class="music-player">
               {% for item in page_obj %}
                    <div class="cover">
                        <img alt="" src="{{item.image.url}}"/>
                    </div>
                    <div class="titre">
                        <h3>
                        {{item.artist}}
                        </h3>
                        <h1>
                        {{item.title}}
                        </h1>
                    </div>
                    <center>
                        <a id="play-prev" href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}">
                            <i class="fa fa-step-backward fa-2x"></i>
                        </a>
                         &nbsp; &nbsp; &nbsp; 
                         <a id="play-next" href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }} {% endif %}">
                            <i class="fa fa-step-forward fa-2x"></i>
                        </a>
                    </center>
                    <div class="lecteur">
                        <audio class="fc-media" style="width: 100%;" id="music-player" volume="0.3">
                            <source src="{% if item.audio_file %}{{item.audio_file.url}} {% else %} {{item.audio_link}} {% endif %}" type="audio/mp3"/>
                        </audio>
                    </div>
            {% endfor %} 
            </div>
        </aside>
        </div>
        <form action="{% url 'fetch_song' %}"  style="display :none;" method="GET"> 
            <input name="emotion" id="emotion_text" style="display :none;">
            <button id="fetch_song" type="button" value="Click" style="display: none;"/>
        </form>
    </div>
   </body>
  </html>
  <!-- partial -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.7/mediaelement-and-player.min.js"></script> 
  <script src="{% static './script.js' %}">
  </script>
<script>  
   

    {% comment %} const m = music.getElementById("music-player_html5") {% endcomment %}

    const createContent = (item) => {
        return `<div class="cover">
                    <img alt="" src="${item.image}"/>
                </div>
                <div class="titre">
                    <h3>
                    ${item.artist}
                    </h3>s
                    <h1>
                    ${item.title}
                    </h1>
                </div>
                <center><a href="${ item.has_previous ? '?page=' + item.previous_page_number :""}><i class="fa fa-step-backward fa-2x"></i></a> &nbsp; &nbsp; &nbsp; <a href="${ item.has_next ? '?page=' + item.next_page_number : ""}"><i class="fa fa-step-forward fa-2x"></i></a></center>
                <div class="lecteur">
                    <audio class="fc-media" style="width: 100%;" id="music-player" muted="muted">
                        <source src="${ item.audio_file ? item.audio_file.url : item.audio_link}" type="audio/mp3"/>
                    </audio>
                </div>
                `
    }
    function playMusic(){
        const music = document.querySelector("#music-player > #music-player_html5")
        console.log(music)
        if(music?.paused){
            console.log("Playing Music")
            debugger
            music.play()
        }
    }
    function nextMusic(){
        nextBut = document.querySelector("#play-next")
        if(nextBut){
            nextBut.click()
        }
    }
    function prevMusic(){
        prevBut = document.querySelector("#play-prev")
        if(prevBut){
            prevBut.click()
        }
    }
    function pauseMusic(){
        const music = document.querySelector("#music-player > #music-player_html5")

        console.log(music)
        if(!music?.paused){
            music.pause()
        }
    }

    function incrementVolume(){
        const music = document.querySelector("#music-player > #music-player_html5")
        if(music){
            const newVol = music.volume + 0.2
            music.volume = newVol >= 1 ? 1 : newVol        
        }
    }

    function decrementVolume(){
        const music = document.querySelector("#music-player > #music-player_html5")
        if(music){
            const newVol = music.volume - 0.2
            music.volume = newVol <= 0 ? 0 : newVol
        }
    }

    let initialExpression = ""
    let initialHandGesture = ""

    const handleGestures = (gesture) => {
        switch(gesture){
            case "play":
                playMusic()
                break
            case "pause":
                pauseMusic()
                break
            case "next":
                nextMusic()
                break
            case "prev":
                prevMusic()
                break 
            case "volume_up":
                incrementVolume()
                break
            case "volume_down":
                decrementVolume()
                break
            case "reset":
                initialExpression = ""
                initialHandGesture = ""
                location.reload()
                break
            case "others":
                break
            default:
                break
        }
    }

    const eventsource = new EventSource("{% url 'message' %}")
    eventsource.onopen = () => {
        console.log("Event Source Open")
    }

    eventsource.onmessage = (e) => {
        console.log("Receiving message")
        if(e.data){
            const data = JSON.parse(e.data)
            console.log(initialExpression)
            if(data.reloaded){
                debugger
                initialExpression = data.final_emotion
                initialHandGesture = data.final_hand_gesture
                if(data.is_music_on){
                    playMusic()
                }
            }
            console.log(String(initialExpression) === String(data.final_emotion))
            if(data.final_emotion && String(initialExpression) != String(data.final_emotion)){
                initialExpression = data.final_emotion
                console.log(initialExpression)
                location.reload() 
            }

            if(data.final_hand_gesture && (String(initialHandGesture) !== String(data.final_hand_gesture))){
                initialHandGesture = data.final_hand_gesture
                handleGestures(data.final_hand_gesture)
            }
            console.log(data)
        }
    }
    {% comment %} document.getElementById("emotion_text").innerHTML = data.final_emotion
    document.getElementById("fetch_song").click() {% endcomment %}

    eventsource.onerror = (e) => {
        console.log("Error Message")
        console.log(e)
    }
</script> 

 </body>
</html>