{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.7/mediaelementplayer.min.css"
      rel="stylesheet"
    />
    <link href="{% static './style.css' %}" rel="stylesheet" />
    <title>Live Emotion Predictor with Music Recommender</title>
  </head>
  <body>
    <header>
      <div class="site-identity">
        <a href="#"
          ><img
            src="https://home.howard.edu/themes/custom/hu_home/idfive-component-library/build/img/howard_social.png"
            alt="howard logo"
        /></a>
      </div>
      <h1>Interactive Music Recommendation system</h1>
    </header>

    <div id="main">
      <article>
        {% comment %}
        <div
          id="imag
                    eCapture"
        ></div>
        {% endcomment %}
        <img src="{% url 'live_camera' %}" />
      </article>
      <aside>
        <div class="music-player">
          {% for item in page_obj %}
            <div class="cover">
              <img alt="" src="{{item.image.url}}" />
            </div>
            <div class="title">
              <h3>{{item.artist}}</h3>
              <h1>{{item.title}}</h1>
            </div>
            <center>
              <a
                id="play-prev"
                disabled="{% if not page_obj.has_previous %}true{% endif %}"
                href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}"
              >
                <i class="fa fa-step-backward fa-2x"></i>
              </a>
              &nbsp; &nbsp; &nbsp;
              <a
                id="play-next"
                disabled="{% if not page_obj.has_next %}true{% endif %}"
                href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }} {% endif %}"
              >
                <i class="fa fa-step-forward fa-2x"></i>
              </a>
            </center>
            <div class="lecteur">
              <audio
                class="fc-media"
                style="width: 100%"
                id="music-player"
                volume="0.3">
                <source
                  src="{% if item.audio_file %}{{item.audio_file.url}} {% else %} {{item.audio_link}} {% endif %}"
                  type="audio/mp3"
                />
              </audio>
            </div>
            {% if total %}
                <center class="title">
                  <h3>{{ current_page }} / {{ total }} </h3>
                <center>
            {% endif %}
          {% endfor %}
        </div>
      </aside>
    </div>

    <footer>
      <h3>
        Semester project for Affective Computing - Spring 2023 by Manish Bhurtel
        and Sanjeev Roka
      </h3>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.7/mediaelement-and-player.min.js"></script>
    <script src="{% static './script.js' %}"></script>
    <script>
      function playMusic(){
          const music = document.querySelector("#music-player > #music-player_html5")
          if(music?.paused){
          music.play()
      }
      }
          function nextMusic(){
          nextBut = document.querySelector("#play-next")
          if(nextBut && nextBut?.getAttribute("disabled") != "true"){
              nextBut.click()
          }
      }
      function prevMusic(){
          prevBut = document.querySelector("#play-prev")
          if(prevBut && prevBut?.getAttribute("disabled") != "true"){
              prevBut.click()
          }
      }
      function pauseMusic(){
          const music = document.querySelector("#music-player > #music-player_html5")
          if(!music?.paused){
              music.pause()
          }
      }

      function incrementVolume(){
        const music = document.querySelector("#music-player > #music-player_html5")
        if(music){
            const newVol = music.volume + 0.6
            music.volume = newVol >= 1 ? 1 : newVol
        }
      }

      function decrementVolume(){
        const music = document.querySelector("#music-player > #music-player_html5")
        if(music){
            const newVol = music.volume - 0.6
            music.volume = newVol <= 0 ? 0 : newVol
        }
      }

      const handleGestures = (gesture) => {
        switch(gesture){
        case "play":
            playMusic()
            break
        case "pause":
            pauseMusic()
            break
        case "stop":
            pauseMusic()
            break
        case "next":
            nextMusic()
            playMusic()
            break
        case "prev":
            prevMusic()
            playMusic()
            break
        case "vUp":
            incrementVolume()
            break
        case "vDown":
            decrementVolume()
            break
        case "reset":
            window.location.href = window.location.origin
            break
        case "others":
            break
        default:
            break
        }
      }

      function create_and_register_event(){
        var eventsource = new EventSource("{% url 'message' %}")
        eventsource.onopen = () => {
            console.log("Event Source Open")
        }
        eventsource.onmessage = (e) => {
            console.log("Receiving message")
            if(e?.data){
                const data = JSON.parse(e.data)
                console.log("Data ", data)
                if(data?.final_emotion && (!data?.is_music_on || !data.reloaded)){
                    debugger
                    window.location.href = window.location.origin
                }
                if(data.final_hand_gesture && data.is_music_on){
                    console.log("Final Gesture",data.final_hand_gesture)
                    handleGestures(data.final_hand_gesture)
                }
            }
        }
        eventsource.onerror = (e) => {
            console.log("Error Message")
            console.log(e)
            create_and_register_event()
        }
      }

      create_and_register_event()
    </script>
  </body>
</html>
